.content {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 199px;
}
.bg_img {
  background: url(../images/header\ Image.png);
  background-position: -50px;
  width: 750.24px;
  height: 683.02px;
  margin-top: 50px;
}
.content .btn {
  @include btnMixin(linear-gradient(180deg, #64bb47 0%, #2c9553 100%));
}
.content_title {
  width: 596px;
  margin-top: 166px;
  font-style: normal;
  font-weight: 770;
  font-size: 76px;
  line-height: 95px;
}
.content_text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  width: 596px;
}
