.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
}
.menu_title,
.icons {
  display: flex;
  align-items: center;
}

.menu_item {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #2c3847;
  opacity: 0.8;
  margin-left: 40px;
}
.menu_item:hover {
  font-weight: 500;
  color: #5fb848;
}
.shopping {
  margin: 0 30px 0 20px;
}

.icons .btn {
  @include btnMixin(#494949);
}
